body{
    background-image: url('../images/closeup-photo-of-purple-gemstones-1121123 (1).jpg');
}

#instructions{
    background-color: bisque;
    border-style: outset;
}

.col-sm-3{
    background-color: rgb(11, 158, 11);
}

.col-sm-5{
    background-color:lightblue;
}

#score-tally{
    background-color: lightseagreen;
}

#game-title{
    background-color: rgba(255, 166, 0, 0.863);
}