body{
    background-image: url('../images/closeup-photo-of-purple-gemstones-1121123 (1).jpg');
}

#instructions{
    background-color: bisque;
    border-style: outset;
}

.col-sm-3{
    background-color: rgb(138, 240, 226);
    height: 100px;
    width: 100px;
}

.col-sm-5{
    background-color:green;
    height: 200px;
    width: 200px;
}

#score-tally{
    background-color: rgb(11, 70, 158);
    height: 100px;
    width: 100px;
}

#game-title{
    background-color: rgba(255, 166, 0, 0.863);
}